[workspace]
members = [
    "chipbox",
    "chipbox-synth",
    "chipbox-song",
    "chipbox-hot",
    "chipbox-dev",
    "chipnertkj-ui",
    "chipnertkj-ui-render",
]
resolver = "2"

[workspace.dependencies]
chipbox-hot = { path = "chipbox-hot" }
