[workspace]
members = [
    "chipbox",
    "chipbox-synth",
    "chipbox-song",
    "chipbox-hot",
    "chipbox-dev",
    "chipnertkj-ui",
    "chipnertkj-ui-render",
    "chipbox-utils",
]
resolver = "2"
