h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .header;
}
h1 {
    @extend .primary;
}
h2 {
    @extend .secondary;
}
h3,
h4,
h5,
h6 {
    @extend .tertiary;
}

p,
li {
    @extend .text;
    margin: 0.5rem;
}

code {
    @extend .code;
}

.code {
    @extend .text;
    @extend .mono;
    margin: 1rem;
}

.text {
    @extend .sans;
    color: var(--cb-text-color-secsondary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15rem;
    -webkit-user-select: none;
    user-select: none;
}
.text.left {
    text-align: left;
}
.text.right {
    text-align: right;
}
.text.center {
    text-align: center;
}
.text.primary {
    color: var(--cb-text-color-primary);
}
.text.secondary {
    color: var(--cb-text-color-secondary);
}
.text.tertiary {
    color: var(--cb-text-color-tertiary);
}
.text.sans {
    font-family: var(--cb-font-family-sans);
}
.text.mono {
    font-family: var(--cb-font-family-mono);
}

.header {
    @extend .text;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0.5rem;
}
.header.primary {
    font-weight: 500;
    line-height: 1.5rem;
}
// .header.secondary {}
// .header.tertiary {}
.header.title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
