h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .header;
}
h1 {
    @extend .primary;
}
h2 {
    @extend .secondary;
}
h3,
h4,
h5,
h6 {
    @extend .tertiary;
}

p,
li {
    @extend .text;
    margin: 0.5rem;
}

code {
    @extend .code;
}

.code {
    @extend .text;
    @extend .mono;
    margin: 1rem;
}

.text {
    @extend .sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15rem;
    -webkit-user-select: none;
    user-select: none;
}
.text.left {
    text-align: left;
}
.text.right {
    text-align: right;
}
.text.center {
    text-align: center;
}
.text.primary {
    color: hsl(0, 0%, 80%);
}
.text.secondary {
    color: hsl(0, 0%, 70%);
}
.text.tertiary {
    color: hsl(0, 0%, 50%);
}
@import "https://fonts.googleapis.com/css?family=Lato:300,400,600,700";
.text.sans {
    font-family: "Lato", sans-serif;
}
@import "https://fonts.googleapis.com/css?family=IBM Plex Mono:300,400,600,700";
.text.mono {
    font-family: "IBM Plex Mono", monospace;
}

.header {
    @extend .text;
    margin: 0.5rem;
}
.header.primary {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.header.secondary {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
}
// .header.tertiary {}
.header.title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
