@import "https://fonts.googleapis.com/css?family=Lato:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=IBM Plex Mono:300,400,600,700";

:root {
    // Font families.
    --cb-font-family-sans: "Lato", sans-serif;
    --cb-font-family-mono: "IBM Plex Mono", monospace;
    // Colors.
    --cb-background-color: hsl(0, 0%, 10%);
    // Text colors.
    --cb-text-color-primary: hsl(0, 0%, 90%);
    --cb-text-color-secondary: hsl(0, 0%, 80%);
    --cb-text-color-tertiary: hsl(0, 0%, 50%);
    // Panel root.
    --cb-panel-root-color: hsl(0, 0%, 20%);
    --cb-panel-root-border-width: 0.0625rem;
    --cb-panel-root-border-color: hsla(0, 0%, 0%, 1);
    // Panel content.
    --cb-panel-content-border-width: 0.125rem;
    --cb-panel-content-border-color: hsl(0, 0%, 35%);
    --cb-panel-content-border-radius: 0.5rem;
    --cb-panel-content-background-color: hsl(0, 0%, 14%);
    // Panel tabs.
    --cb-panel-tab-height: 2.25rem;
    --cb-panel-tab-height-lower: 2rem;
}
