@import "https://fonts.googleapis.com/css?family=Lato:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=IBM Plex Mono:300,400,600,700";

// `chipbox-dark` defaults.
// Remember to update `common/src/settings/theme.rs` if you modify any of the variables.
:root {
    /// Defaults.
    // Font families.
    --cb-font-family-sans: "Lato", sans-serif;
    --cb-font-family-mono: "IBM Plex Mono", monospace;
    // Colors.
    --cb-bg-color: hsl(0, 0%, 10%);
    // Text colors.
    --cb-text-primary-color: hsl(0, 0%, 90%);
    --cb-text-secondary-color: hsl(0, 0%, 80%);
    --cb-text-tertiary-color: hsl(0, 0%, 50%);
    /// Panel root.
    // Background color.
    --cb-panel-root-bg-color: hsl(0, 0%, 20%);
    // Border.
    --cb-panel-root-border-width: 0.0625rem;
    --cb-panel-root-border-color: hsla(0, 0%, 0%, 1);
    /// Panel container.
    // Margin.
    --cb-panel-container-margin: 0.5rem;
    /// Panel content.
    // Background color.
    --cb-panel-content-bg-color: hsl(0, 0%, 14%);
    // Border.
    --cb-panel-content-border-width: 0.125rem;
    --cb-panel-content-border-color: hsl(0, 0%, 35%);
    --cb-panel-content-border-radius: 0.5rem;
    /// Panel header gradient.
    // Gradient opacity.
    --cb-panel-header-grad-opacity-trans: 0.15s cubic-bezier(0.25, 0.75, 0.25, 0.75);
    // Gradient width.
    --cb-panel-header-grad-width: 49.5%;
    --cb-panel-header-grad-min-width: 0;
    --cb-panel-header-grad-max-width: 3rem;
    /// Panel tabs.
    // Drop shadow.
    --cb-panel-tab-drop-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    // Background color.
    --cb-panel-tab-active-bg-color: var(--cb-panel-content-bg-color);
    --cb-panel-tab-active-bg-color-trans: 0.15s cubic-bezier(0.85, 0, 0.15, 1);
    --cb-panel-tab-inactive-bg-color: hsl(0, 0%, 12%);
    --cb-panel-tab-inactive-bg-color-trans: 0.15s cubic-bezier(0.85, 0, 0.15, 1);
    // Height.
    --cb-panel-tab-active-height: 2.25rem;
    --cb-panel-tab-active-height-trans: 0.15s cubic-bezier(1, 0.5, 0.16, 2.5);
    --cb-panel-tab-inactive-height: 2rem;
    --cb-panel-tab-inactive-height-trans: 0.15s cubic-bezier(0.12, 0, 0.39, 0);
    // Border radius.
    --cb-panel-tab-border-radius: var(--cb-panel-content-border-radius);
    --cb-panel-tab-active-border-radius-trans: 0.15s cubic-bezier(0.85, 0, 0.15, 1);
    --cb-panel-tab-inactive-border-radius-trans: 0.1s cubic-bezier(0.85, 0, 0.15, 1);
}
