.drop-shadow {
    filter: drop-shadow(0rem 0.45rem 0.25rem hsla(0, 0%, 0%, 0.5));
}

.drop-shadow.primary {
    filter: drop-shadow(0.25rem 0.35rem 0.15rem hsla(0, 0%, 0%, 0.95));
}

.drop-shadow.secondary {
    filter: drop-shadow(0rem 0.45rem 0.25rem hsla(0, 0%, 0%, 0.5));
}

.drop-shadow.tertiary {
    filter: drop-shadow(0rem 0.25rem 0.25rem hsla(0, 0%, 0%, 0.25));
}
