.grid-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-list-center {
    @extend .grid-list;
    justify-items: center;
    align-content: center;
}

.drop-shadow {
    filter: drop-shadow(0rem 0.25rem 0.25rem hsla(0, 0%, 0%, 0.5));
}

.drop-shadow-light {
    filter: drop-shadow(0rem 0.25rem 0.25rem hsla(0, 0%, 0%, 0.25));
}
