@import "https://fonts.googleapis.com/css?family=Lato:300,400,600,700";
@import "https://fonts.googleapis.com/css?family=IBM Plex Mono:300,400,600,700";
p,
li {
  margin: 0.5rem;
}

.code, code {
  margin: 1rem;
}

.text, .header, h1,
h2,
h3,
h4,
h5,
h6, p,
li, .code, code {
  color: var(--cb-text-color-secondary);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15rem;
  -webkit-user-select: none;
  user-select: none;
}

.text.left, .left.header, h1.left,
h2.left,
h3.left,
h4.left,
h5.left,
h6.left, p.left,
li.left, .left.code, code.left {
  text-align: left;
}

.text.right, .right.header, h1.right,
h2.right,
h3.right,
h4.right,
h5.right,
h6.right, p.right,
li.right, .right.code, code.right {
  text-align: right;
}

.text.center, .center.header, h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center, p.center,
li.center, .center.code, code.center {
  text-align: center;
}

.text.primary, .primary.header,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary, p.primary,
li.primary, .primary.code, code.primary, h1.header, h1, h1.code {
  color: var(--cb-text-color-primary);
}

.text.secondary, .secondary.header, h1.secondary,
h3.secondary,
h4.secondary,
h5.secondary,
h6.secondary, p.secondary,
li.secondary, .secondary.code, code.secondary, h2.header,
h2, h2.code {
  color: var(--cb-text-color-secondary);
}

.text.tertiary, .tertiary.header, h1.tertiary,
h2.tertiary, p.tertiary,
li.tertiary, .tertiary.code, code.tertiary, h3.header,
h3, h3.code,
h4.header,
h4,
h4.code,
h5.header,
h5,
h5.code,
h6.header,
h6,
h6.code {
  color: var(--cb-text-color-tertiary);
}

.text.sans, .text, .header, h1,
h2,
h3,
h4,
h5,
h6, p,
li, .code, code {
  font-family: var(--cb-font-family-sans);
}

.text.mono, .mono.header, h1.mono,
h2.mono,
h3.mono,
h4.mono,
h5.mono,
h6.mono, p.mono,
li.mono, .code, code {
  font-family: var(--cb-font-family-mono);
}

.header, h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0.5rem;
}

.header.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary, h1 {
  font-weight: 500;
  line-height: 1.5rem;
}

.header.title, h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  background-color: var(--cb-background-color);
  margin: 0;
}

:root {
  font-size: 16px;
}

.drop-shadow {
  filter: drop-shadow(0rem 0.45rem 0.25rem hsla(0deg, 0%, 0%, 0.5));
}

.drop-shadow.primary {
  filter: drop-shadow(0.25rem 0.35rem 0.15rem hsla(0deg, 0%, 0%, 0.95));
}

.drop-shadow.secondary {
  filter: drop-shadow(0rem 0.45rem 0.25rem hsla(0deg, 0%, 0%, 0.5));
}

.drop-shadow.tertiary {
  filter: drop-shadow(0rem 0.25rem 0.25rem hsla(0deg, 0%, 0%, 0.25));
}

/*
    Adapted from: https://codepen.io/supah/details/BjYLdW
    Original source license: The MIT License

    Modifications to the source are available under the Mozilla Public License 2.0.
    See the LICENSE.txt file in the workspace root for full license text.

    Below is the original source license text:

    BEGIN LICENSE TEXT

    Copyright (c) 2023 by Fabio Ottaviani (https://codepen.io/supah/pen/BjYLdW)

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"),
    to deal in the Software without restriction, including without limitation
    the rights to use, copy, modify, merge, publish, distribute, sublicense,
    and/or sell copies of the Software, and to permit persons to whom the Software
    is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies
    or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
    INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
    IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
    DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
    ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
    OR OTHER DEALINGS IN THE SOFTWARE.

    END LICENSE TEXT
*/
.spinner {
  animation: rotate 2s linear infinite;
  width: 5rem;
  height: 5rem;
}
.spinner .path {
  stroke: hsla(0deg, 0%, 100%, 0.75);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.spinner.primary {
  width: 4rem;
  height: 4rem;
  margin: 1.25rem;
}

.spinner.secondary {
  width: 1.5rem;
  height: 1.5rem;
}

.spinner.tertiary {
  width: 1rem;
  height: 1rem;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.panel-root {
  outline: var(--cb-panel-root-outline-thickness) solid var(--cb-panel-root-outline-color);
  background-color: var(--cb-panel-root-color);
}

button {
  background-color: #181818;
  margin: 0.5rem;
}

:root {
  --cb-font-family-sans: "Lato", sans-serif;
  --cb-font-family-mono: "IBM Plex Mono", monospace;
  --cb-background-color: hsl(0, 0%, 10%);
  --cb-text-color-primary: hsl(0, 0%, 90%);
  --cb-text-color-secondary: hsl(0, 0%, 80%);
  --cb-text-color-tertiary: hsl(0, 0%, 50%);
  --cb-panel-root-color: hsl(0, 0%, 10%);
  --cb-panel-root-outline-thickness: 0.1rem;
  --cb-panel-root-outline-color: hsla(0, 0%, 0%, 1);
}
