@use "../text";
@use "../utils";

#editor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#main-panel {
    flex: 6 1 20rem;
}
#right-panel {
    flex: 1 3 20rem;
}
#main-row {
    flex: 3 1 30rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#bottom-panel {
    flex: 1 2 20rem;
}

.panel-root {
    border-width: var(--cb-panel-root-border-width);
    border-color: var(--cb-panel-root-border-color);
    background-color: var(--cb-panel-root-color);
    border-style: solid;
    display: flex;
}

.panel-container {
    margin: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.panel-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    height: var(--cb-panel-tab-height);
    margin-right: 3rem;
}

.panel-header-overflow-x {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    overflow-x: scroll;
}

.panel-header-overflow-clip {
    width: 100%;
    position: absolute;
    overflow: clip;
}

.panel-header-overflow-x::-webkit-scrollbar {
    position: absolute;
}

.panel-header-gradient {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.25, 0.75, 0.25, 0.75);
    z-index: 3;
    pointer-events: none;
    display: block;
    position: absolute;
    max-width: 3rem;
    min-width: 0;
    width: 49.5%;
    top: 0;
    height: calc(100% - var(--cb-panel-content-border-width));

    &.active {
        opacity: 1;
    }

    &.right {
        right: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--cb-panel-root-color) 99%);
    }

    &.left {
        left: 0;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, var(--cb-panel-root-color) 99%);
    }
}

.panel-tab {
    margin: 0;
    position: relative;
    border-style: solid;
    border-width: var(--cb-panel-content-border-width);
    border-color: var(--cb-panel-content-border-color);
    border-radius: var(--cb-panel-content-border-radius) var(--cb-panel-content-border-radius) 0 0;
    background-color: var(--cb-panel-content-background-color);
}

.panel.inactive {
    height: var(--cb-panel-tab-height-lower);
    border-color: hsl(0, 0%, 12%);
    background-color: hsl(0, 0%, 12%);
    transition:
        height 0.15s cubic-bezier(0.12, 0, 0.39, 0),
        border-radius 0.1s cubic-bezier(0.12, 0, 0.39, 0);
}

.panel-tab.active {
    @extend .drop-shadow, .secondary;
    z-index: 2;
    border-bottom-width: 0;
    height: var(--cb-panel-tab-height);
    transition:
        height 0.15s cubic-bezier(1, 0.5, 0.16, 2.5),
        border-radius 0.15s cubic-bezier(0.85, 0, 0.15, 1),
        background-color 0.015s cubic-bezier(0.85, 0, 0.15, 1);
}

.panel-tab.inactive:nth-child(n + 2) {
    border-top-left-radius: 0;
}

.panel-tab.inactive:has(+ .panel-tab) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-tab.inactive:nth-child(1) {
    border-top-left-radius: var(--cb-panel-content-border-radius);
}

.panel-tab.inactive:hover {
    @extend .text, .secondary;
    background-color: hsl(0, 0%, 15%);
    border-color: hsl(0, 0%, 15%);
    transition: all 0.0125s cubic-bezier(0.85, 0, 0.15, 1);
}

.panel-tab.active > .panel-tab-title {
    @extend .primary;
}

.panel-tab.inactive > .panel-tab-title {
    @extend .tertiary;
}

.panel-tab.inactive:hover > .panel-tab-title {
    @extend .secondary;
}

.panel-tab-title {
    @extend .text;
    margin: 0 0.25rem;
    margin-right: 2.5rem;
    text-align: left;
    text-wrap: nowrap;
}

.panel-content {
    z-index: 0;
    position: relative;
    display: inline-block;
    margin: 0;
    top: calc(-1 * var(--cb-panel-content-border-width));
    flex: 1;

    border-style: solid;
    border-width: var(--cb-panel-content-border-width);
    border-color: var(--cb-panel-content-border-color);
    border-radius: 0 var(--cb-panel-content-border-radius) var(--cb-panel-content-border-radius);

    background-color: var(--cb-panel-content-background-color);
}
